{
    "extends": "react-app",
    "rules": {
        "no-restricted-globals": ["error", "event", "fdescribe"],
        "import/no-anonymous-default-export": [
            "error",
            {
                "allowArrowFunction": true,
                "allowObject": true
            }
        ],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": ["warn", { "destructuredArrayIgnorePattern": "^_", "args": "none" }]
    }
}
