@import './highlight.scss';
@import './markdown-style.scss';

#root {
    width: 100%;
    display: flex;

    .menu-item {
        padding: 0 16px;
        cursor: pointer;

        &:hover {
            color: #2b8844;
        }

        a {
            display: block;
            width: 100%;
            color: inherit;
        }
    }

    .markdown-body {
        flex: 1;
        padding: 0 18px;

        @include custom-markdown-style;
        @include highlight;

        a.header-anchor {
            text-decoration: none;
            color: inherit;
        }
    }

    .markdown-body,
    .pager-navigator {
        width: 100%;
        max-width: 60vw;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .demo-block {
        background: #fafafa;
        padding: 1rem;
        border-radius: 4px;
        height: 300px;
        max-height: 300px;
        overflow: auto;
    }

    .note {
        color: #213547;
        margin-bottom: 12px;
    }

    .resizer {
        width: 240px;
        min-width: 15rem;
        height: 100px;
        padding: 1rem;
        font-size: 16px;
        box-sizing: border-box;
        line-height: 24px;
    }

    .editor-container {
        border: 1px solid #f0f0f0;
        height: 300px;

        .editor {
            .highlight-line {
                background: rgba(255 251 221);
                border-radius: 4px;
            }

            .current-line {
                border-radius: 4px;
            }
        }

        .preview {
            background: rgb(246 247 249);
            border-left: 1px solid #f0f0f0;
        }
    }
}
