.doc-demo-widget {
    &-input[type='text'] {
        display: block;
        padding: 0.5em 1em;
        border: 1px solid #f0f0f0;
        border-radius: 4px;
        outline: none;
        min-width: 20rem;
        margin: 0.5rem 0;
        font-size: 16px;
        line-height: 1.5;

        &:focus {
            border-color: #22c55e;
        }
    }

    &-note {
        color: #213547;
        margin-bottom: 12px;
    }

    &-resizer {
        width: 240px;
        min-width: 15rem;
        height: 100px;
        padding: 1rem;
        font-size: 16px;
        box-sizing: border-box;
        line-height: 24px;
    }

    &-button {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #f9f9f9;
        cursor: pointer;
        transition: border-color 0.25s;

        &:not(:disabled):hover {
            border-color: #646cff;
        }

        &:focus,
        &:focus-visible {
            outline: 4px auto -webkit-focus-ring-color;
        }
    }
}
